<header class="showcase-top">
    <div [routerLink]="['/']" class="logo">
        <img [src]="logo" alt="" />
    </div>
    <div *ngIf="this.accountService.curUser.isLogin ; else elseBlock" class="login">
        <span>{{this.accountService.curUser.username}}</span>
        <a [routerLink]="['/']" class="btn btn-rounded" (click)="onLogOut()">Log out</a>
    </div>
    <ng-template #elseBlock>
        <div class="button-area">
            <a [routerLink]="['/login']" class="btn btn-rounded">Log in</a>
        </div>
    </ng-template>
</header>
