<!-- <div class="container">
    <div id="email">
        <input type="text" placeholder="Email" name="email" [(ngModel)]="email" />
    </div>
    <div id="pw">
        <input type="text" placeholder="password" name="password" [(ngModel)]="password" />
    </div>

    <button id="LogIn">Login</button>
</div> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="codewithanonymous.png" type="image/x-icon">
    <title>CodeWithAnonymous - Netflix Login Page (Desktop)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


</head>

<body>
    <!-- partial:index.partial.html -->
    <a class="logo" [routerLink]="['/']" target="_blank">
        <img [src]="logo" alt="" />
    </a>
    

    <form #loginform="ngForm" [formGroup]="loginForm">
        <div class="login">
            <h1 class="login-title">Sign In</h1>
            <div class="login-info">
                <input class="login-info-input" type="text" formControlName='email' id="email" name="email"/>
                <label class="login-info-label" for="email">Email</label>
            </div>
            <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)">
                <div *ngIf="email.errors?.['required']" class="invalid">
                email is required
                </div>
            </div>

            <div class="login-info">
                <input class="login-info-input" type="password"  formControlName='pwd' id="pwd" name="pwd"/>
                <label class="login-info-label" for="pwd">Password</label>
            </div>
            <div *ngIf="!pwd?.valid && (pwd?.dirty || pwd?.touched)">
                <div *ngIf="pwd.errors?.['required']" class="invalid">
                password is required
                </div>
            </div>
            <button [routerLink]="['/movies']" class="login__sign-in" type="button" (click)="onSubmit()" [disabled]="!this.accountService.isMatch(this.loginForm.value)">Sign In</button>
            <div class="login__secondary-cta"><a class="login__secondary-cta__text" href="#">Remember me</a><a
                    class="login__secondary-cta__text login__secondary-cta__text--need-help" href="#">Need help?</a></div>
        </div>
    </form>
    <!-- partial -->

</body>

</html>